@import "default_variables";

.footer {
  margin-top: 133px;

  @media (max-width: 992px) {
    .feedback__phone-number {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .outline-button {
      display: none;
    }
  }

  @media (max-width: 550px) {
    .footer__address {
      display: none;
    }

    .footer_center {
      justify-content: center!important;
    }
  }

  .footer__contacts {
    padding-top: 37px;
    padding-bottom: 38px;
    background-color: $white;

    .footer_center {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer__social-media {
        display: flex;

        .footer__icon {
          @extend %content-center;
          cursor: pointer;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: 2px solid $green;
          box-sizing: border-box;
          margin-right: 20px;
        }
      }
    }
  }

  .privacy-policy {
    padding-top: 25px;
    padding-bottom: 25px;

    .footer-center {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $dark-gray;
    }
  }
}

